[submodule "ImageDrawer"]
	path = plugins/ImageDrawer
	url = git://github.com/holyshared/ImageDrawer.git
[submodule "Gradually"]
	path = plugins/Gradually
	url = git://github.com/holyshared/Gradually.git
[submodule "Exhibition"]
	path = plugins/Exhibition
	url = git://github.com/holyshared/Exhibition.git
[submodule "MMap"]
	path = plugins/MMap
	url = git://github.com/holyshared/MMap.git